$accent-blue: #1aa5ca;
$accent-dark-grey: #1f1f1f;
$accent-green: #accc20;
$accent-grey: #adb5bd;
$accent-magenta: #af125a;
$accent-navy: #1215af;
$accent-pink: #ff52bd;
$accent-purple: #d039ff;
$accent-red: #f77046;
$accent-sage: #036260;
$accent-yellow: #ffc641;
$accent-blue-highlight: #1aa5ca87;
$accent-green-highlight: #accc2087;
$accent-red-highlight: #f7704687;
$accent-yellow-highlight: #ffc64187;
$main-bkgrnd: #181819;
$main-white: #fffafa;
$main-black-overlay: #000000d9;
$main-grey: #bebebe;
$main-grey-underlay: #343434;
$table-grey: #6e8192;
$table-white: #ffffff;

$main-font: 'Fjalla One', 'Open Sans', sans-serif;
$navbar-font: $main-font;

:export {
  accentBlue: $accent-blue;
  accentGreen: $accent-green;
  accentYellow: $accent-yellow;
  tableColor1: $accent-blue;
  tableColor2: $accent-green;
  tableColor3: $accent-grey;
  tableColor4: $accent-magenta;
  tableColor5: $accent-yellow;
  tableColor6: $accent-red;
  tableColor7: $accent-purple;
  tableColor8: $accent-pink;
  tableColor9: $accent-navy;
  tableColor10: $accent-sage;
  tableColorBlueGrey: #78909c;
  tableColorDarkGrey: #e9e9e9;
  tableColorLightGrey: #f8f8f8;
  tableColorWhite: $table-white;
}
