$accent-blue: #1aa5ca;
$accent-green: #accc20;
$accent-red: #f77046;
$accent-yellow: #ffc641;
$accent-grey: #adb5bd;
$accent-magenta: #af125a;
$accent-purple: #d039ff;
$main-bkgrnd: #181819;
$main-white: #fffafa;
$main-black-overlay: #000000d9;
$main-grey-underlay: #343434;

$main-font: 'Fjalla One', 'Open Sans', sans-serif;
$navbar-font: $main-font;
